@model IEnumerable<ProductEFMVC.Models.Product>

@{
    ViewBag.Title = "View Product";
}

<h2>View All Products</h2>

<p>
    @Html.ActionLink("Add New Product", "AddNewProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Slno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Slno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            <input type="button" class="btn btn-primary" style="background-color:cornflowerblue" value="Edit" onclick="location.href='@Url.Action("UpdateProduct", "Product")'" />
           
            <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Product", new { @Id=@item.Slno })'" />
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |

        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
